:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
html {
    background: linear-gradient(azure,azure,blue);
    height: 100%;
}
h1 {
    color: azure;
    font-family: sans;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, blue, darkblue);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin: 0 -8px;
    margin-top: -8px;
}
aside {
    display: flex;
    flex-flow: column;
    width: 30%;
}
main {
    display: flex;
    flex-flow: column;
    width: 70%;
}
#bar {
    border-bottom: solid 1px grey;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-bottom: 1rem;
}
#start {
    background-color: rgb(89, 41, 236);
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   border: gray 1px solid;
   font: bold;
   color: azure;
}
#separate {
    display: flex;
}
#top {
    border: inset darkgrey 2px;
    margin: 10px;
    background-color: rgb(150, 240, 235);
    border-radius: 1rem;
    padding: 1rem;
}
#bottom {
   margin: 10px;
   display: flex;
   justify-content: space-between;
}
.bottom5 {
    border: solid black 1px;
    margin: 10px;
    background-color: rgb(166, 150, 240);
    border-radius: 1rem;
    padding: 1rem;
}
.city-btns{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}